<% 
  const clearDesc = (desc) => {
    return desc.replace(/"/g, '').replace('[', '').replace(']', '');
  }

  const image = JSON.parse(product.image);
%> 
<div class="container-md pt-5">
  <h4 class="text-center mb-4">Perbaharui produk</h4>
  <div class="row mt-3">
    <% for( let i = 0; i < image.length; i++ ) { %>
      <div class="col-sm-4">
        <img src="/<%= image[i] %>" alt="<%= product.name %>" class="mb-4 card-img">
      </div>  
    <% } %>
  </div>
  <form action="/update" method="POST">
    <input type="hidden" id="id" name="id" value="<%= product.id %>">
    <div class="row mb-3">
      <label for="name" class="col-sm-3 col-form-label">Nama barang</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="name" name="name" value="<%= product.name %>" required>
      </div>
    </div>
    <div class="row mb-3">
      <label for="price" class="col-sm-3 col-form-label">Harga</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="price" name="price" value="<%= product.price %>" required>
      </div>
    </div>
    <div class="row mb-3">
      <label for="category" class="col-sm-3 col-form-label">Kategori</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="category" value="<%= product.category %>" required>
      </div>
    </div>
    <div class="row mb-3">
      <label for="description" class="col-sm-3 col-form-label">Deskripsi</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="description" value="<%= clearDesc(product.description) %>" required>
      </div>
    </div>
    <div class="row mb-3">
      <label for="shopee" class="col-sm-3 col-form-label">Shopee</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="shopee" value="<%= product.shopee %>">
      </div>
    </div>
    <div class="row mb-3">
      <label for="tokopedia" class="col-sm-3 col-form-label">Tokopedia</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" name="tokopedia" value="<%= product.tokopedia %>">
      </div>
    </div>
    <div class="row mb-3">
      <label for="produkUnggulan" class="col-sm-3 col-form-label">Produk unggulan</label>
      <div class="col-sm-3">
        <input class="form-check-input" type="radio" name="bestProduct" value="Y" name="bestProduct">
        <label class="form-check-label" for="Y">
          Ya
        </label>
        <div class="ms-5 d-inline-block">
          <input class="form-check-input" type="radio" name="bestProduct" value="N" checked name="bestProduct">
          <label class="form-check-label" for="N">
            Tidak
          </label>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <label for="foto1" class="col-sm-3 col-form-label">Foto cover</label>
      <div class="col-sm-9">
        <input type="file" class="form-control" id="foto1" name="foto1">
      </div>
    </div>
    <div class="row mb-3">
      <label for="foto2" class="col-sm-3 col-form-label">Foto ke 2</label>
      <div class="col-sm-9">
        <input type="file" class="form-control" id="foto1" name="foto2">
      </div>
    </div>
    <div class="row mb-3">
      <label for="foto3" class="col-sm-3 col-form-label">Foto ke 3</label>
      <div class="col-sm-9">
        <input type="file" class="form-control" id="foto1" name="foto3">
      </div>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
      <button type="submit" class="btn btn-primary">Simpan</button>
    </div>
  </form>
</div>